.jumbotron{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: stretch;*/
    /*align-self: stretch;*/
    background-image: url("../images/pizza.png");
    background-size: cover;
}
h1{

}
.display-pizza{
    text-align: center;
    background-color: white;
    opacity: .5;
}
.card-header {
    padding-bottom: 1em;
    padding-top: 1em;
}

footer{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(247,247,247);
    padding: 10px;
}
#header{
    background-color: dodgerblue;
}

#primeNavColor {
    background-color: #007cb9;
}


